
/*******

Large screensize

********/




@media (min-width: 1200px) {

  .adaptive-nav-wrap {
    display: none;
  }

  .main-nav-wrap {
    display: block;
  }

    .main-nav li {
    display: inline-block;
    margin-right: 12px;
    line-height: 70px;
  }

  .main-nav li:last-child {
    margin-right: 0;
  }

  .main-nav a {
    padding: 10px 9px;
    border: 1px solid transparent;
    line-height: 32px;
}

  .main-nav a:hover {
    border: 1px solid #ffffff;
  }


/**Promo**/

.promo {
  min-height: 645px;
  background: url('../img/bg_promo-block.jpg') no-repeat 50% 0;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 170px;
}

.promo-title {
  font-size: 66px;
  }

  .promo-btn {
    margin: 178px 0 64px;
  }


  /*Advantages*/

  .advantages {
    padding: 70px 0;
  }

  .advantages::before {
  top: -140px;
}

.advantage-item p {
  width: 135px;
  font-weight: 700;
}

  .advantage-item img {
  width: 94px;
  height: 55px;
  }

  .section-title, .section-title_left {
    font-size: 32px;
    line-height: 26px;
    margin-bottom: 73px;
  }


  /*About-us*/

  .about-us {
    min-height: 460px;
    padding-bottom: 90px;
  }

  .about-us:after {
    content: "";
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }


  /*Галерея*/

.gallery {
  min-height: 450px;
  padding: 90px 0;
}

.carousel-wrap {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.carousel {
  width: 1020px;
  margin: 0 auto;
  height: 260px;
}

.gallery_item {
  margin-right: 20px;
}

.prev , .next {
  width: 35px;
  height: 33px;
  top: 45%;
}

.prev {
  background: url(../img/arrow-left.svg) no-repeat 0 0;
  left: 0;
}

.prev:hover {
  background: url(../img/arrow-left_hover.svg) no-repeat 0 0;
  width: 35px;
  height: 33px;
}

.next {
  background: url(../img/arrow-right.svg) no-repeat 0 0;
  right: 0;
}

.next:hover {
  background: url(../img/arrow-right_hover.svg) no-repeat 0 0;
  width: 35px;
  height: 33px;
}

.gallery_item img {
  min-height: 255px;
  width: 255px;
  overflow: hidden;
}


/*Как проходят полеты*/

.process {
  margin-top: 10px;
  min-height: 650px;
  background: url('../img/fly-line.png') no-repeat 50% 250px,
        url('../img/bg_mountains.jpg') no-repeat 50% 100%;
  -webkit-background-size: auto, contain;
  background-size: auto, contain;
}

.flight-stage-text {
  margin-bottom: 15px;
}

.flight-stage-item1 {
  bottom: -200px;
  left: 0;
}

.flight-stage-item2 {
  bottom: -170px;
  left: 23%;
}

.flight-stage-item3 {
  left: 45%;
}

.flight-stage-item4 {
  right: 23%;
  bottom: -170px;
}

.flight-stage-item5 {
  bottom: -200px;
  right: 0;
}

.flight-stage-text:before {
  width: 44px;
  height: 65px;
}

/*Обратный отсчет*/
.timer {
  min-height: 100px;
  line-height: 100px;
  font-size: 32px;
}

.count-title {
  text-align: left;
}

.time-wrap:nth-child(2) {
  width: 122px;
}

.time-wrap:nth-child(n+3) {
  width: 135px;
}

.measure {
  font-size: 22px;
}


/**/
.cost {
  background: none;
  min-height: 200px;
  padding: 90px 0 60px;
  position: relative;
}

.cost:after {
    content: "";
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.cost-form {
  padding: 0;
}

.cost-info {
  padding-right: 135px;
  margin-bottom: 0;
}

.cost-form select, .cost-form input {
  width: 355px;
  float: right;
}

.final-cost {
  font-weight: 700;
}


/**/
.details {
  min-height: 540px;
  padding-top: 75px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: transparent;
}

.payments {
  padding-right: 70px;
}


.faq {
  padding-right: 60px;
}

/*.question-title:before {
  content: "";
  display: inline-block;
  background-image: url(../img/icon_ask.svg);
  width: 40px;
  height: 34px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 17px;
}*/


/*Статистика*/

.statistic {
  min-height: 370px;
  padding: 70px 0 60px;
}

.number-circle {
  font-size: 42px;
  width: 160px;
  height: 160px;
  line-height: 160px;
  margin-bottom: 20px;
  border: 6px solid #fff;
}

.statistic-text {
  font-size: 24px;
}

/*Team*/

.team {
  padding-top: 95px;
}

.team-member {
  padding-top: 15px;
}

.reviews {
  padding-top: 50px;
}

/*Контакты*/

.airport {
  margin-bottom: 60px;
}

.socials {
  float: none;
  text-align: left;
}

}