@font-face {
      font-family: 'WebSymbolsLigaRegular';
      src: url('../fonts/websymbolsligaregular.woff') format('woff'),
           url('../fonts/websymbolsligaregular.ttf') format('truetype'),
           url('../fonts/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}

html, body{
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
	color: #444;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul, li, blockquote, figure {
	padding: 0;
	margin: 0;
}

.center {
	text-align: center;
}

/*.container {
	width: 1140px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

.row {
	overflow: hidden;
	margin-left: -15px;
	margin-right: -15px;
}

.col1{width:8.33%;}.col2{width:16.66%;}.col3{width: 25%;}
.col4{width:33.33%;}.col5{width:41.66%;}.col6{width:50%;}
.col7{width:58.33%;}.col8{width:66.66%;}.col9{width:75%;}
.col10{width:83.11%;}.col11{width:91.66%;}.col12{width:100%;}

div[class*="col"] {
	float: left;
	box-sizing: border-box;
	padding: 0 15px;
}*/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
 .col-xs, .col-sm-1, .col-lg-1,  .col-sm-2, .col-lg-2, .col-sm-3, .col-lg-3, .col-sm-4, .col-lg-4, .col-sm-5, .col-lg-5, .col-sm-6, .col-lg-6, .col-sm-7, .col-lg-7, .col-sm-8, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.col-xs {
  float: left;
}
.col-xs {  width: 100%;}


@media (min-width: 768px) {
  .container, .container-fluid {
  padding-left: 13px;
  padding-right: 13px;
}

.row {
  margin-left: -13px;
  margin-right: -13px;
  overflow: hidden;
}

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8 {
    float: left;
    padding-left: 13px;
    padding-right: 13px;
  }

  .col-sm-8 {    width: 100%;  }
  .col-sm-7 {    width: 87.5%;  }
  .col-sm-6 {    width: 75%;  }
  .col-sm-5 {    width: 62.5%;  }
  .col-sm-4 {    width: 50%;  }
  .col-sm-3 {    width: 37.5%;  }
  .col-sm-2 {    width: 25%;  }
  .col-sm-1 {    width: 12.5%;  }

  .col-sm-offset-1 {    margin-left: 12.5%; }
}

@media (min-width: 1200px) {
	.container, .container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-lg-12 {    width: 100%;  }
  .col-lg-11 {    width: 91.66666667%;  }
  .col-lg-10 {    width: 83.33333333%;  }
  .col-lg-9 {    width: 75%;  }
  .col-lg-8 {    width: 66.66666667%;  }
  .col-lg-7 {    width: 58.33333333%;  }
  .col-lg-6 {    width: 50%;  }
  .col-lg-5 {    width: 41.66666667%;  }
  .col-lg-4 {    width: 33.33333333%;  }
  .col-lg-3 {    width: 25%;  }
  .col-lg-2 {    width: 16.66666667%;  }
  .col-lg-1 {    width: 8.33333333%;  }

  .col-lg-pull-12 {    right: 100%;  }
  .col-lg-pull-11 {    right: 91.66666667%;  }
  .col-lg-pull-10 {    right: 83.33333333%;  }
  .col-lg-pull-9 {    right: 75%;  }
  .col-lg-pull-8 {    right: 66.66666667%;  }
  .col-lg-pull-7 {    right: 58.33333333%;  }
  .col-lg-pull-6 {    right: 50%;  }
  .col-lg-pull-5 {    right: 41.66666667%;  }
  .col-lg-pull-4 {    right: 33.33333333%;  }
  .col-lg-pull-3 {    right: 25%;  }
  .col-lg-pull-2 {    right: 16.66666667%;  }
  .col-lg-pull-1 {    right: 8.33333333%;  }
  .col-lg-pull-0 {    right: auto;  }
  .col-lg-push-12 {    left: 100%;  }
  .col-lg-push-11 {    left: 91.66666667%;  }
  .col-lg-push-10 {    left: 83.33333333%;  }
  .col-lg-push-9 {    left: 75%;  }
  .col-lg-push-8 {    left: 66.66666667%;  }
  .col-lg-push-7 {    left: 58.33333333%;  }
  .col-lg-push-6 {    left: 50%;  }
  .col-lg-push-5 {    left: 41.66666667%;  }
  .col-lg-push-4 {    left: 33.33333333%;  }
  .col-lg-push-3 {    left: 25%;  }
  .col-lg-push-2 {    left: 16.66666667%;  }
  .col-lg-push-1 {    left: 8.33333333%;  }
  .col-lg-push-0 {    left: auto;  }

  .col-lg-offset-0 {margin-left: 0%;  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}


section, .timer, .advantages,
.page-header, .page-footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.left {
	float: left;
}

.right {
	float: right;
}

input, a {
	outline: none;
}

.promo-title, .section-title, .section-title_left {
	font-weight: 500;
}


/*Header*/

.main-nav-wrap {
	display: none;
}

.page-header, .page-footer {
	min-height: 50px;
	background-color: #444;
}

.page-header a, .page-footer a {
	text-decoration: none;
	color: #fff;
}

.logo {
	font-weight: 500;
	font-size: 18px;
	line-height: 50px;
}

.adaptive-nav-wrap {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #444;
	z-index: 5;
}

.adaptive-nav li {
		text-align: center;
}

.adaptive-nav a {
	display: block;
	padding: 12px 0;
	box-sizing: border-box;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.adaptive-nav a:hover {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

#touch-menu {
	display: inline-block;
	height: 50px;
	vertical-align: middle;

}

#touch-menu img {
	padding: 13px 0;
}

.adaptive-nav {
	display: none;
}



/*Промо*/
.promo {
	min-height: 300px;
	box-sizing: border-box;
	background: url('../img/bg_promo-phone.jpg') no-repeat 50% 20%;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 50px;
}

.promo-title {
	font-size: 28px;
	color: #fff;
}

.promo-btn {
	display: none;
}


/*Преимущества*/
.advantages {
	min-height: 235px;
	padding: 0;
	position: relative;
}

.advantages::before {
	content: '';
	position: absolute;
	background: url(../img/mask_top.png) top center no-repeat;
	min-height: 180px;
	top: -100px;
	width: 100%;
	background-size: cover;
}

.advantage-item {
	text-align: center;
	margin-bottom: 25px;
}

.advantage-item p {
	display: inline-block;
	width: 220px;
	vertical-align: middle;
	text-align: left;
}

.advantage-item img {
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
	height: 35px;
	width: 40px;
}


/*О нас+видео*/
.about-us {
	padding: 50px 0 25px;
	box-sizing: border-box;
	position: relative;
}

.section-title, .section-title_left {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 45px;
    position: relative;
  }

.section-title:after {
	content: "";
	width: 62px;
	height: 6px;
	position: absolute;
	background-color: #3e98d7;
	top: 44px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.section-title_left:after {
	left: 0;
	margin: 0;
}

.about-us_text {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 24px;
}

.video-container {
	display: none;
}

.video-container iframe {
	border: none;
}

/*Галерея*/
.gallery {
	min-height: 230px;
}

.gallery .section-title {
	display: none;
}

.carousel-wrap {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
}

.carousel {
	width: 100%;
	height: 230px;
	overflow: hidden;
}

.gallery_item {
	height: 230px;
	width: 100%;
	overflow: hidden;
}

.gallery_item img {
	max-height: 230px;
}

.prev, .next {
	position: absolute;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	z-index: 200;
	top: 40%;
}

.prev {
	background: rgba(0,0,0,0.6) url(../img/arrow-left.svg) no-repeat 40% 50%;
	background-size: 20px 20px;
	left: 0;
}

.next {
	background: rgba(0,0,0,0.6) url(../img/arrow-right.svg) no-repeat 50% 50%;
	background-size: 20px 20px;
	right: 0;
}

.prev:hover, .next:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.4);
}



/*Как проходит полет*/
.process {
	min-height: 650px;
	background: url('../img/bg_mountains.jpg') no-repeat 40% 100%;
	-webkit-background-size: auto 250px;
	background-size: auto 250px;
	margin-top: 50px;
	position: relative;
}

.flight-stage-item {
	margin-bottom: 10px;
}

.flight-stage-text:before {
	width: 35px;
	height: 55px;
	background: url(../img/icon_baloon.svg) no-repeat 0 0;
	background-size: contain;
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	margin-right: 17px;
}

.flight-stage-text-1:before {
	content: "1";
}

.flight-stage-text-2:before {
	content: "2";
}

.flight-stage-text-3:before {
	content: "3";
}

.flight-stage-text-4:before {
	content: "4";
}

.flight-stage-text-5:before {
	content: "5";
}


/*Обратный отсчет*/
.timer {
	min-height: 135px;
	background-color: rgba(0,0,0,0.4);
	font-size: 22px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	padding: 25px 0 20px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.count-time {
	padding: 0;
}

.count-title {
	margin-bottom: 17px;
}

.time-wrap{
	display: inline-block;
	text-align: center;
	margin-right: 20px;
}

.time-wrap:first-of-type {
	margin-left: -10px;
}

.time-wrap:nth-of-type(3) {
	width: 60px;
}

.time-wrap:last-of-type {
	margin-right: 0;
	width: 66px;
}

.measure {
	font-size: 18px;
}

/**/
.cost {
	padding: 50px 0;
	position: relative;
}

.cost-text {
	display: none;
}

.form-field {
	display: block;
}

label {
	display: block;
	line-height: 50px;
}

.cost-form select, .cost-form input {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 40px;
	border: 1px solid  #d5d5d5;
	border-radius: 5px;
	padding-left: 12px;
	padding-right: 12px;
}

.cost-form input {
	padding-left: 40px;
}

input[name="name"] {
	background: url('../img/icon_fio.svg') no-repeat 10px 50%;
}

input[name="phone"] {
	background: url('../img/icon_phone.svg') no-repeat 10px 50%;
}

.cost-form-cost {
	padding-top: 30px;
}

.final-cost span {
	display: none;
}

.final-cost {
	display: inline-block;
	font-size: 28px;
	color: #f97e7e;
	vertical-align: middle;
	line-height: 40px;
}

.cost-form-btn {
	display: inline-block;
	width: 160px;
	height: 40px;
	color: #fff;
	line-height: 40px;
	background-color: #46b0dc;
	border: none;
	border-radius: 5px;
	vertical-align: middle;
}


/**/
.details {
	padding: 40px 0 20px;
	background-color: #f8f8f8;
}

.payments-tabs {
	list-style: none;
	margin-bottom: 30px;
	font-size: 0;
}

.payment-type {
	display: block;
	font-size: 18px;
	line-height: 35px;
	background-color: #f5f5f5;
	height: 35px;
	cursor: pointer;
	text-align: center;
	border-bottom: 1px solid #ec5f5f;
}

li.current {
	background-color: #ec5f5f;
	color: #fff;
}

.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}

.payments p{
	padding-bottom: 30px;
}

.faq {
	display: none;
}


/*Статистика*/
.statistic {
	background: url('../img/bg_statistics.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	font-weight: 500;
	padding: 40px 0 15px;
}

.number-circle {
	display: inline-block;
	font-size: 26px;
	width: 89px;
	height: 89px;
	border: 4px solid #fff;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 89px;
	margin-bottom: 30px;
	vertical-align: baseline;
	text-align: center;
	margin-right: 7px;
}

.statistic-text {
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
}



/*Команда инструкторов*/

.team {
	padding-top: 45px;
}
.team-member {
	margin-bottom: 30px;
}

.member-avatar {
	width: 85px;
	height: 85px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

.member-avatar img {
	width: 85px;
	height: 85px;
}

.member-avatar-hover {
	display: none;
}

.member-info {
	display: inline-block;
	vertical-align: middle;
}

.member-name {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
}

.member-job {
	font-size: 16px;
}


/*Отзывы*/
.reviews {
	padding-top: 35px;
	padding-bottom: 50px;
	position: relative;
}

.review-slider-wrap {
	position: relative;
	padding-bottom: 50px;
}

.review-item {
	padding-top: 15px;
}

.review-item img {
	margin: 0 auto;
}

.review-item cite {
	font-size: 22px;
	font-weight: 500;
	padding: 20px 0;
	font-style: normal;
	display: block;
}

.review-item p {
	font-size: 18px;
	padding: 0 10px;
	line-height: 24px;
	font-style: italic;
}

.prev-review, .next-review {
	position: absolute;
	width: 10px;
	height: 18px;
	box-sizing: border-box;
	z-index: 200;
	bottom: 0;
}

.prev-review {
	background: url(../img/arrow-left.svg) no-repeat 0 0;
	background-size: contain;
	left: 32%;
}

.prev-review:hover {
	background-image: url(../img/arrow-left_hover.svg);
	cursor: pointer;
}

.next-review {
	background: url(../img/arrow-right.svg) no-repeat 0 0;
	background-size: contain;
	right: 32%;
}

.next-review:hover {
	background-image: url(../img/arrow-right_hover.svg);
	cursor: pointer;
}



/*Контакты*/
.contacts {
	min-height: 445px;
	background: url('../img/bg_contacts.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 55px 0 30px;
	position: relative;
}

.contacts::before{
	content: '';
	position: absolute;
	top: -100px;
	width: 100%;
	min-height: 236px;
	background: url(../img/mask_bottom.png) no-repeat top center;
	background-size: cover;
}

.airport {
	margin-bottom: 40px;
}

.airport-title {
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
}

.airport-adress {
	font-size: 16px;
	font-style: italic;
	line-height: 26px;
	padding-top: 10px;
}

.airport-title:before {
	content: "";
	display: block;
	width: 62px;
	height: 62px;
	background: url('../img/icon_plane.svg') no-repeat 50% 50%, #337ba0;
	border-radius: 5px;
	margin: 0 auto 25px;
}

.contacts .office {
	font-weight: 500;
	line-height: 26px;
	position: relative;
	padding-left: 80px;
	margin-bottom: 40px;
}

.office:before {
	content: "";
	position: absolute;
	background: url('../img/icon_place.svg') no-repeat 0 0;
	left: 24px;
	width: 35px;
	height: 50px;
}

.office-title {
	font-size: 22px;
	color: #2b2b2b;
	margin-bottom: 10px;
}

.office-address {
	font-size: 20px;
	color: #525252;
	margin-bottom: 15px;
	font-style: italic;
}

.office-phone {
	font-size: 26px;
	color: #292929;
}

.internet {
	padding-left: 30px;
}

.email {
	display: inline-block;
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
	color: #444444;
	padding-bottom: 27px;
}

.email:before {
	content: "";
	display: inline-block;
	background: url('../img/icon_envelop.svg') no-repeat;
	width: 23px;
	height: 17px;
	margin-right: 20px;
	vertical-align: middle;
}

.socials {
	text-align: center;
}

.social {
	font-family: 'WebSymbolsLigaRegular';
	color: #444;
	margin-right: 20px;
	font-size: 22px;
}

.social:hover {
	color: rgba(68,68,68,0.7);
}

.arrow-up {
	background: url('../img/arrow-up.svg') no-repeat;
	width: 28px;
	height: 28px;
	position: fixed;
	bottom: 15px;
	right: 20px;
}


.page-footer .main-nav {
	display: none;
}



@media (min-width: 385px) {
  .gallery {
  min-height: 280px;
}

  .carousel {
  height: 280px;
}

.gallery_item img {
  max-height: 280px;
}
}

@media (min-width: 480px) {
  .advantage-item p {
    width: 260px;
  }

  .statistic-item, .team-member {
    padding: 0 19%;
  }
}

@media (min-width: 515px) {
  .gallery {
  min-height: 350px;
}

  .carousel {
  height: 350px;
}

.gallery_item img {
  max-height: 350px;
}
}

@media (min-width: 640px) and (max-width: 767px){
  .gallery {
  min-height: 400px;
}

.carousel-wrap {
  width: 92%;
  left: 4%;
  right: 4%;
}

  .carousel {
  height: 400px;
}

.gallery_item img {
  max-height: 400px;
}

  .statistic-item, .team-member {
    padding: 0 25%;
  }
}



/********

Tablet

*********/



@media (min-width: 768px) {

  .section-title, .section-title_left {
    margin-bottom: 53px;
  }

  .page-header, .page-footer {
      min-height: 70px;
  }

  .logo {
    font-size: 22px;
    line-height: 70px;
  }

  #touch-menu img {
    padding: 23px 0;
  }

  /**Promo**/

  .promo {
    min-height: 640px;
    padding-top: 180px;
  }

  .promo-title {
    font-size: 44px;
  }

  .promo-btn {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 118px;
    height: 38px;
    border: 1px solid  #fff;
    line-height: 40px;
    margin: 160px 0 64px;
    z-index: 2;
  }

  .promo-btn:after {
    content: "";
    position: absolute;
    background-image: url('../img/arrow-down.svg');
    width: 18px;
    height: 29px;
    left: 43%;
    bottom: -64px;
  }


  /*Преимущества*/

  .advantages {
    min-height: 100px;
  }

  .advantages::before {
  top: -120px;
}

.advantage-item {
  text-align: left;
}

.advantage-item p {
  width: auto;
  font-weight: 700;
}

/*About us*/

  .video-container {
    display: block;
  }

/*Galery slider*/

.gallery {
  padding-top: 35px;
}

.carousel-wrap{
  position: relative;
}
.carousel {
  height: 405px;
}

.gallery .section-title {
  display: block;
}

.gallery_item img {
  min-height: 405px;
}


/*Как проходят полеты*/

.process {
  min-height: 550px;
  background: url('../img/fly-line.png') no-repeat 50% 200px,
        url('../img/bg_mountains.jpg') no-repeat 50% 100%;
  -webkit-background-size: auto, auto 365px;
  background-size: contain, auto 365px;
  margin-top: 50px;
  position: relative;
}

.flight-stages {
  height: 260px;
  padding-top: 35px;
  position: relative;

}

.flight-stage-item {
  position: absolute;
  width: 100px;
  text-align: center;
}

.flight-stage-item1 {
  bottom: -130px;
  left: 0;
}

.flight-stage-item2 {
  bottom: -100px;
  left: 20%;
}

.flight-stage-item3 {
  left: 43%;
}

.flight-stage-item4 {
  right: 20%;
  bottom: -100px;
}

.flight-stage-item5 {
  bottom: -130px;
  right: 0;
}

.flight-stage-text:before {
  position: absolute;
  bottom: -70px;
  left: 30%;
}

/*Обратный отсчет*/
.timer {
  min-height: 75px;
  line-height: 75px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  left: 0;
}

.timer div {
  padding-left: 0;
  padding-right: 0;
}

.count-title {
  margin-bottom: 0;
}

.count-time {
  text-align: right;
  padding-right: 25px;
}

.count-time div {
  display: inline-block;
}

.time-wrap:nth-of-type(3) {
  width: 100px;
}

.time-wrap:last-of-type {
  margin-right: 0;
  width: 110px;
}


/**/
.cost {
  padding-bottom: 25px;
  background: url(../img/bg_cost-form.jpg) no-repeat 50% 320px;
  background-size: cover;
}

.cost-info {
  margin-bottom: 40px;
}

.cost-text {
  display: block;
  padding-bottom: 25px;
}

.cost-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 26px;
}

.form-field {
  display: block;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 200px;
  line-height: 40px;
  vertical-align: middle;
}

.cost-form select, .cost-form input {
  width: 300px;
  display: inline-block;
}

.cost-form-cost {
  padding-top: 17px;
}

.final-cost {
  font-size: 38px;
  font-weight: 500;
}

.final-cost span {
  display: inline-block;
  font-size: 18px;
  color: #444444;
  font-weight: 700;
  margin-right: 15px;
  line-height: 40px;
  vertical-align: top;
}


/**/
.details {
  padding-top: 55px;
}

.payment-type {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  padding:0 15px;
  border-bottom: none;
}

.payment-type:last-child {
  margin-right: 0;
}

.faq {
  display: block;
  padding-top: 20px;
}

.accordeon__item{
  margin-bottom: 18px;
}

.question-title {
  display: inline-block;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  vertical-align: middle;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  border-bottom: 1px dashed #666;
  cursor: pointer;
}

.question-active {
  border-bottom: none;
}

/*.question-title:before {
  content: "";
  display: inline-block;
  background-image: url(../img/icon_ask.svg);
  width: 40px;
  height: 34px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 17px;
}*/

.question-answer {
  font-size: 16px;
  line-height: 22px;
  padding-left: 60px;
  font-style: italic;
}



/*Статистика*/
.statistic {
  min-height: 290px;
  padding: 48px 0 59px;
}

.statistic-item, .team-member {
  padding: 0 13px;
}

.statistic-item {
  text-align: center;
}

.number-circle {
  display: inline-block;
  font-size: 32px;
  width: 110px;
  height: 110px;
  line-height: 110px;
  margin-bottom: 25px;
}

.statistic-text {
  font-size: 18px;
}

.statistic-item:first-of-type .statistic-text {
  padding: 0 50px;
}


/*Команда инструкторов*/

.team-member {
  text-align: center;
  margin-bottom: 60px;
}

.member-avatar {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  position: relative;
}

.member-avatar img {
  width: 160px;
  height: 160px;
}

.member-avatar-hover {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
   transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.member-avatar:hover .member-avatar-hover {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  cursor: pointer;
}

.member-name {
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.member-job {
  font-size: 18px;
  font-weight: 500;
}

/*Отзывы*/
.reviews {

}

.prev-review, .next-review {
  width: 25px;
  height: 43px;
  top: 50%;
}

.prev-review {
  left: -75px;
}

.next-review {
  right: -75px;
}


/*Contacts*/

.airport-title {
  font-size: 26px;
}

.airport-adress {
  font-size: 18px;
}

.contacts .office {
  padding-left: 55px;
}

.office:before {
  left: 0;
}

.socials {
  float: right;
}

.arrow-up {
  right: 25px;
  bottom: 20px;
}

}




/*******

Large screensize

********/




@media (min-width: 1200px) {

  .adaptive-nav-wrap {
    display: none;
  }

  .main-nav-wrap {
    display: block;
  }

    .main-nav li {
    display: inline-block;
    margin-right: 12px;
    line-height: 70px;
  }

  .main-nav li:last-child {
    margin-right: 0;
  }

  .main-nav a {
    padding: 10px 9px;
    border: 1px solid transparent;
    line-height: 32px;
}

  .main-nav a:hover {
    border: 1px solid #ffffff;
  }


/**Promo**/

.promo {
  min-height: 645px;
  background: url('../img/bg_promo-block.jpg') no-repeat 50% 0;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 170px;
}

.promo-title {
  font-size: 66px;
  }

  .promo-btn {
    margin: 178px 0 64px;
  }


  /*Advantages*/

  .advantages {
    padding: 70px 0;
  }

  .advantages::before {
  top: -140px;
}

.advantage-item p {
  width: 135px;
  font-weight: 700;
}

  .advantage-item img {
  width: 94px;
  height: 55px;
  }

  .section-title, .section-title_left {
    font-size: 32px;
    line-height: 26px;
    margin-bottom: 73px;
  }


  /*About-us*/

  .about-us {
    min-height: 460px;
    padding-bottom: 90px;
  }

  .about-us:after {
    content: "";
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }


  /*Галерея*/

.gallery {
  min-height: 450px;
  padding: 90px 0;
}

.carousel-wrap {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.carousel {
  width: 1020px;
  margin: 0 auto;
  height: 260px;
}

.gallery_item {
  margin-right: 20px;
}

.prev , .next {
  width: 35px;
  height: 33px;
  top: 45%;
}

.prev {
  background: url(../img/arrow-left.svg) no-repeat 0 0;
  left: 0;
}

.prev:hover {
  background: url(../img/arrow-left_hover.svg) no-repeat 0 0;
  width: 35px;
  height: 33px;
}

.next {
  background: url(../img/arrow-right.svg) no-repeat 0 0;
  right: 0;
}

.next:hover {
  background: url(../img/arrow-right_hover.svg) no-repeat 0 0;
  width: 35px;
  height: 33px;
}

.gallery_item img {
  min-height: 255px;
  width: 255px;
  overflow: hidden;
}


/*Как проходят полеты*/

.process {
  margin-top: 10px;
  min-height: 650px;
  background: url('../img/fly-line.png') no-repeat 50% 250px,
        url('../img/bg_mountains.jpg') no-repeat 50% 100%;
  -webkit-background-size: auto, contain;
  background-size: auto, contain;
}

.flight-stage-text {
  margin-bottom: 15px;
}

.flight-stage-item1 {
  bottom: -200px;
  left: 0;
}

.flight-stage-item2 {
  bottom: -170px;
  left: 23%;
}

.flight-stage-item3 {
  left: 45%;
}

.flight-stage-item4 {
  right: 23%;
  bottom: -170px;
}

.flight-stage-item5 {
  bottom: -200px;
  right: 0;
}

.flight-stage-text:before {
  width: 44px;
  height: 65px;
}

/*Обратный отсчет*/
.timer {
  min-height: 100px;
  line-height: 100px;
  font-size: 32px;
}

.count-title {
  text-align: left;
}

.time-wrap:nth-child(2) {
  width: 122px;
}

.time-wrap:nth-child(n+3) {
  width: 135px;
}

.measure {
  font-size: 22px;
}


/**/
.cost {
  background: none;
  min-height: 200px;
  padding: 90px 0 60px;
  position: relative;
}

.cost:after {
    content: "";
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.cost-form {
  padding: 0;
}

.cost-info {
  padding-right: 135px;
  margin-bottom: 0;
}

.cost-form select, .cost-form input {
  width: 355px;
  float: right;
}

.final-cost {
  font-weight: 700;
}


/**/
.details {
  min-height: 540px;
  padding-top: 75px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: transparent;
}

.payments {
  padding-right: 70px;
}


.faq {
  padding-right: 60px;
}

/*.question-title:before {
  content: "";
  display: inline-block;
  background-image: url(../img/icon_ask.svg);
  width: 40px;
  height: 34px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 17px;
}*/


/*Статистика*/

.statistic {
  min-height: 370px;
  padding: 70px 0 60px;
}

.number-circle {
  font-size: 42px;
  width: 160px;
  height: 160px;
  line-height: 160px;
  margin-bottom: 20px;
  border: 6px solid #fff;
}

.statistic-text {
  font-size: 24px;
}

/*Team*/

.team {
  padding-top: 95px;
}

.team-member {
  padding-top: 15px;
}

.reviews {
  padding-top: 50px;
}

/*Контакты*/

.airport {
  margin-bottom: 60px;
}

.socials {
  float: none;
  text-align: left;
}

}
